@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Rubik', sans-serif;
}

section {
    width: 100%;
    height: 100vh;
    background: url("img/background.jpg");
    background-size: cover;
}

    section .leftbox {
        width: 50%;
        height: 100%;
        float: left;
        margin-left: 0px;
        padding: 50px;
        box-sizing: border-box;
    }

        section .leftbox .content {
            color: #9CFEFF;
            background: rgba(0,0,0,.6);
            padding: 40px;
            transition: .5s;
        }

            section .leftbox .content:hover {
                background: #121424;
            }

            section .leftbox .content h1 {
                margin: 0;
                padding: 0;
                font-size: 50px;
                text-transform: uppercase;
                font-family: 'Rubik', sans-serif;
            }

            section .leftbox .content p {
                margin: 10px 0 0;
                padding: 0;
                font-size: 2rem;
            }

    section .about {
        position: relative;
        width: 50%;
        height: 100%;
        background: rgba(0,0,0,.6);
        float: right;
        box-sizing: border-box;
    }

        section .about ul {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            margin: 0;
            padding: 40px;
            box-sizing: border-box;
        }

            section .about ul li {
                list-style: none;
                color: #9CFEFF;
                font-size: 1.5rem;
            }

        section .about ul {
            background: #121424;
        }

            section .about ul li .btn {
                padding: 50px;
                background: #121424;
                color: #9CFEFF;
                margin: 80px;

            }


/*background: #121424;
        box-sizing: border-box;
        height: 200px;
        margin: 15px;

    }
        section .about ul li .time {
            position: relative;
            padding: 20px;
            background: #121424;
            box-sizing: border-box;
            width:30%;
            height: 100%;
            float:left;
            text-align: center;
            transition:.5s;

        }
        section .about ul li:hover .time {
            background: #121424;

        } */
